.blog
  &__background
    padding-top: 5%
    background-color: $background__second
  &__content
    width: 100%
    &-title
      text-align: center
      margin: 0 auto
      max-width: 186px
    &-text
      padding-top: 5%
      width: 90%
      margin: 0 auto
      text-align: center
      padding-bottom: 5%
    &-block
      width: 100%
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: center










