.clients
  &__background
    padding-top: 6%
    padding-bottom: 7%
    background-color: $background__first
  &__content
    width: 90%
    &-title
      text-align: center
      margin: 0 auto
      max-width: 186px
    &-text
      padding-top: 5%
      padding-bottom: 6%
      margin: 0 auto
      text-align: center
    &-buttons
      padding: 5%
      display: flex
      justify-content: center
      align-items: center
      flex-flow: row wrap

      &__type
        padding-left: 1%
        padding-right: 1%



