.timeline
  position: relative
  width: auto
  margin: 0 auto
  list-style-type: none
  &:before
    position: absolute
    left: 50%
    top: 0
    content: ' '
    display: block
    width: 2px
    height: 100%
    margin-left: -1px
    background: rgb(80,80,80)
    z-index: 5
  &__item
    position: relative
    &:before
      position: absolute
      top: 50%
      right: calc(50% - 12px)
      content: ' '
      display: block
      width: 17px
      height: 17px
      margin-top: -10px
      background: $link-color
      border-radius: 17px
      border: 4px solid $link-color
